body{
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:#fba0be;

}
#calculator{
    font-family: Helvetica, Arial, sans-serif;
    background: #FACCD7;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
img{
    width: 100px;
    height: 100px;
    margin:left;
    display:hidden;
    text-wrap: left;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: #FBFDFB;
    color:pink;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 10px;
    padding: 25px;
}


button{
    width: 100px;
    height:100px;
    border:none;
    border-radius: 50px;
    background-color: #f98eaa;
    cursor: pointer;
    color: white;
    font-size: 3rem;
    font-weight: bold; 
}
button:hover{
    background-color: #ffd2e0;
}
button:active{
    background-color: antiquewhite;
}
.operator-btn{
    background-color: #ffb5c0;
}
.operator-btn:hover{
    background-color: #ffdde2;
}
.operator-btn:active{
    background-color: antiquewhite;
}